:root{
    --purple: #56046d;
    --blue: #1a0084;
    --white: rgb(211, 207, 207);
    --black:rgb(0, 0, 0);
  }
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    background-color: var(--white);
    color: var(--black);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  header {
    padding: 40px 5px;;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    color: var(--white);
    width: 100%;
    background-image: url(../images/Header.png);
    background-size:auto;
    background-attachment:initial;
    background-position:80%;
  }
  
   #my-name {
    font-weight:bolder;
    margin: 0;
    font-size: 36px;
    color: var(--white);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  header nav a{
    margin: 7px 0;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--white);
    text-decoration: none;
  }
  header nav a:hover {
    background: var(--purple);
    color: var(--white);
    border-radius: 15px;
    text-shadow: none;
    opacity: .5;
  }
  video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .video-wrapper {
    border: 2px none #000;
    width: 100%;
    height: 800px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #about-me{
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 20px 5px 20px;
  }
  #about-me img{
    margin: 15px;
    border-radius: 10px;
  }
  #about-me p{
    font-size: larger;
  }
  
  #my-projects h2{
    padding: 40px 5px;;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  #my-projects nav a{
    padding: 5px;
    font-weight: lighter;
    font-size: 2vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--black);
    text-decoration: none;
  }
  #my-projects nav a:hover {
    color: var(--white);
    border-radius: 25px;
    text-shadow: none;
  }
  .wufr:hover{
    background: url(../images/gp.png);
    background-size:contain;
    background-position: center;
  }
  .runbuddy:hover{
    background: url(../images/hero-bg.jpg);
    background-size:contain;
    background-position: center;
  }
  .password-generator:hover{
    background: url(../images/password-generator.jpg);
    background-size:cover;
    background-position: center;
  }
  .coding-quiz:hover{
    background: url(../images/TIMER.jpg);
    background-size:cover;
    background-position: center;
  }
  /* FOOTER STYLES START */
  footer {
    padding: 40px 35px 10px 35px;
    text-align: center;
    flex-wrap:wrap;
    width: 100%;
    background-image: url(../images/Footer.png);
    background-size:auto;
    background-attachment:initial;
    background-position:80%;
    color: var(--white);
  }
  
  
  h3 {
    color: var(--secondary-color);
    font-size: 30px;
  }
  
  footer nav {
    margin: 40px 15px;
    flex-wrap: wrap;
  
  }
  footer nav a{
    padding: 5px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--white);
    text-decoration: none;
    flex-wrap: wrap;
  }
  
  footer nav a:hover {
    background: var(--blue);
    color: var(--white);
    border-radius: 15px;
    text-shadow: none;
    opacity: .5;
  }
  header nav a, #my-projects nav a, footer nav a{
    font-size: 25px;
   }
  /* END FOOTER STYLES */
  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {
    .video-wrapper{
      height: 400px;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
  }

  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    header {
      padding: 20px 5px;
      text-align: center;
      flex-wrap: wrap;
      display: block;
      text-align: center;
      position:relative;
    }
    h1{
      font-size: 45px;
    }
    header nav a, footer nav a{
    flex-direction: column;
    display: flex;
    text-align: center;
    border-bottom: 1px solid black;
   }
   #my-projects h2{
    text-align: center;
    flex-wrap: wrap;
    display: block;
    text-align: center;
    position:relative;
   }
   #my-projects nav{
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
   }
   #my-projects nav a{
    padding: 10px 3px;
   }
   footer{
    padding: 10px  10px 10px 1px;
   }
   
  }